
@media  (min-width:1024px)  {
    .row {
        display: flex;
        align-items: center;
        justify-content: center;
       
    
       
        height: 100vh;
        margin: 0;
      }
      
      .column {
        flex: 50%;
        align-items: center;
        justify-content: center;
        margin-left: 100px;
       
        
      }
    
    #image1
    {top: 100px;
    left: 166px;
    
    background: transparent url('HTML-Assignemnt-Assets/images/hero-image.png') 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 31px #0000000A;
    border: 20px solid #FFFFFF;
    opacity: 1;
    border-radius: 50%;
    height: 700px;
    width: auto;
    justify-content: center;
    
    
    }
    #username {
        top: 372px;
    ;
    width: 429px;
    height: 49px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    opacity: 1;
    }
    
    #password{
        top: 448px;
    
    width: 429px;
    height: 49px;
    background: #FFFFFF 0% 0% no-repeat ;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    opacity: 1;
    }
    
    
    #login{
        top: 527px;
    
    width: 138px;
    height: 45px;
    /* UI Properties */
    background: #C8242F 0% 0% no-repeat;
    border-radius: 23px;
    opacity: 1;
    
    }
    
    form{
       
        
        margin-top: 20px;
            max-width: 300px;
            
            
            
            
        
    
    
    }
    
    label {
        display: block;
        margin-bottom: 8px;
    }
    
    input {
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        box-sizing: border-box;
    }
    
    button {
        background-color: #4CAF50;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    #login:hover {
        background-color: #45a049;
    }
    
    
    span{
        top: 183px;
    left: 1036px;
    width: 137px;
    height: 53px;
    /* UI Properties */
    text-align: left;
    font: normal normal 900 40px/53px Roboto;
    letter-spacing: 0px;
    color: #C8242F;
    opacity: 1;
    }
    
    p{
        
    
    width: 260px;
    height: 33px;
    /* UI Properties */
    
    font: normal normal normal 25px/33px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
    }
    
    
    .para{
        top: 183px;
    left: 905px;
    width: 500px;
    height: 100px;
    text-align: left;
    font: normal normal 300 40px/47px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity:1
    }
    
    #logo{
        top: 106px;
    left: 906px;
    width: 272px;
    height: 58px;
    /* UI Properties */
    opacity: 1;
    
    }
    
    
    #forgot{
    top: 539px;
    left: 1214px;
    width: 121px;
    height: 20px;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #ADADAD;
    
    opacity: 1;}
    
    
    #new{
    top: 595px;
    
    width: 160px;
    height: 20px;
    
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #ADADAD;
    opacity: 1;
    
    
    }
    
    #register{
    top: 595px;
    left: 1070px;
    width: 88px;
    height: 20px;
    
    
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #C8242F;
    opacity: 1;}
    
    #spam1{
        top: 183px;
    left: 1036px;
    width: 137px;
    height: 53px;
    /* UI Properties */
    text-align: left;
    font: normal normal 900 40px/53px Roboto;
    letter-spacing: 0px;
    color: #C8242F;
    opacity: 1;
    }
    
    
    
}

@media (min-width: 768px) and (max-width: 1024px) {

    .row {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80vh; 
        margin: 0;
    }

    .column {
        flex: 100%;
        align-items: center;
        justify-content: center;
        margin-left: 0;
    }

    #image1 {
        top: 5vh; 
        left: 5vw; 
        background: transparent url('HTML-Assignemnt-Assets/images/hero-image.png') 0% 0% no-repeat padding-box;
        box-shadow: 0px 4px 31px #0000000A;
        border: 20px solid #FFFFFF;
        opacity: 1;
        border-radius: 50%;
        height: 50vh;
        width: auto;
        justify-content: center;
    }

    #username {
        top: 20vh;
        width: 60vw;  
        height: 7vh; 
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #ADADAD;
        border-radius: 5px;
        opacity: 1;
    }

    #password {
        top: 25vh; 
        width: 60vw; 
        height: 7vh; 
        background: #FFFFFF 0% 0% no-repeat ;
        border: 1px solid #ADADAD;
        border-radius: 5px;
        opacity: 1;
    }

    #login {
        top: 30vh; 
        width: 15vw; 
        height: 6vh; 
        background: #C8242F 0% 0% no-repeat;
        border-radius: 23px;
        opacity: 1;
    }

   

    span {
        top: 10vh; 
        left: 80vw; 
        width: 137px; 
        height: 53px; 
        text-align: left;
        font: normal normal 900 40px/53px Roboto;
        letter-spacing: 0px;
        color: #C8242F;
        opacity: 1;
    }

    p {
        width: 260px; 
        height: 33px; 
        font: normal normal normal 25px/33px Roboto;
        letter-spacing: 0px;
        color: #3E3E3E;
        opacity: 1;
    }

    .para {
        top: 10vh; 
        left: 60vw; 
        width: 500px; 
        height: 100px; 
        text-align: left;
        font: normal normal 300 40px/47px Roboto;
        letter-spacing: 0px;
        color: #3E3E3E;
        opacity:1;
    }

    #logo {
        top: 5vh; 
        left: 60vw; 
        width: 272px; 
        height: 58px; 
        opacity: 1;
    }

    #forgot {
        top: 35vh; 
        left: 90vw; 
        width: 121px;
        height: 20px; 
        font: normal normal normal 15px/20px Roboto;
        letter-spacing: 0px;
        color: #ADADAD;
        opacity: 1;
    }

    #new {
        top: 40vh; 
        width: 160px; 
        height: 20px; 
        font: normal normal normal 15px/20px Roboto;
        letter-spacing: 0px;
        color: #ADADAD;
        opacity: 1;
    }

    #register {
        top: 40vh;
        left: 70vw; 
        width: 88px; 
        height: 20px; 
        font: normal normal normal 15px/20px Roboto;
        letter-spacing: 0px;
        color: #C8242F;
        opacity: 1;
    }

    #spam1 {
        top: 10vh; 
        left: 80vw; 
        width: 137px;
        height: 53px; 
        text-align: left;
        font: normal normal 900 40px/53px Roboto;
        letter-spacing: 0px;
        color: #C8242F;
        opacity: 1;
    }
}


@media (max-width: 767px) {

    .row {
        display: block;
        height: auto;
    }

    .column {
        flex: 100%;
        margin-left: 0;
    }

    #image1 {
        top: 5vh;
        left: 5vw;
        height: auto;
        width: 90vw;
        margin-left: 0;
        background: transparent url('HTML-Assignemnt-Assets/images/hero-image.png') 0% 0% no-repeat padding-box;
        box-shadow: 0px 4px 31px #0000000A;
        border: 20px solid #FFFFFF;
        opacity: 1;
        border-radius: 50%;
    }

    #username,
    #password {
        top: 5vh;
        width: 80vw;
        height: 7vh;
        margin: 5vh 0;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #ADADAD;
        border-radius: 5px;
        opacity: 1;
    }

    #login {
        top: 10vh;
        width: 70vw;
        height: 6vh;
        margin: 5vh 0;
        background: #C8242F 0% 0% no-repeat;
        border-radius: 23px;
        opacity: 1;
    }

    form {
        margin-top: 20px;
        max-width: 300px;
    }

    label {
        display: block;
        margin-bottom: 8px;
    }

    input {
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        box-sizing: border-box;
    }

    button {
        background-color: #4CAF50;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    #login:hover {
        background-color: #45a049;
    }

    span {
        top: 5vh;
        left: 5vw;
        width: 70vw;
        height: 53px;
        text-align: left;
        font: normal normal 900 16px/21px Roboto;
        letter-spacing: 0px;
        color: #C8242F;
        opacity: 1;
    }

    p {
        width: 60vw;
        height: 33px;
        font: normal normal normal 14px/18px Roboto;
        letter-spacing: 0px;
        color: #3E3E3E;
        opacity: 1;
    }

    .para {
        top: 5vh;
        left: 5vw;
        width: 80vw;
        height: auto;
        text-align: left;
        font: normal normal 300 14px/18px Roboto;
        letter-spacing: 0px;
        color: #3E3E3E;
        opacity: 1;
    }

    #logo {
        top: 5vh;
        left: 5vw;
        width: 80vw;
        height: auto;
        opacity: 1;
    }

    #forgot {
        top: 35vh;
        left: 5vw;
        width: 80vw;
        height: 20px;
        font: normal normal normal 10px/13px Roboto;
        letter-spacing: 0px;
        color: #ADADAD;
        opacity: 1;
    }

    #new {
        top: 40vh;
        width: 80vw;
        height: 20px;
        font: normal normal normal 10px/13px Roboto;
        letter-spacing: 0px;
        color: #ADADAD;
        opacity: 1;
    }

    #register {
        top: 40vh;
        left: 5vw;
        width: 80vw;
        height: 20px;
        font: normal normal normal 10px/13px Roboto;
        letter-spacing: 0px;
        color: #C8242F;
        opacity: 1;
    }

    #spam1 {
        top: 5vh;
        left: 5vw;
        width: 70vw;
        height: 53px;
        text-align: left;
        font: normal normal 900 16px/21px Roboto;
        letter-spacing: 0px;
        color: #C8242F;
        opacity: 1;
    }
}

